.home{
    height: 89vh;
    overflow-x: scroll !important;
}
.slideshow{
    display: flex;
}
.corousel{
    width: 150vw;
    display: block;
}
.product{
    height: 80vh;
}
.new-product{
    position: absolute;
    right:4vw;
    top:10vh;
}
.description{
    color:grey;
    padding-top:20vh;
    padding-left: 5vw;
    width: 8vw;
    font-size: 1.2rem;
}
.button-new{
    width: 30px;
    height: 4vh;
    border: 1px grey solid !important;
    float:right;
    position: relative;
    border-radius: 0 !important;
    top:-8vh;
    right: 5vw;
}
.button-new:focus{
    outline: none;
}
.button-new:hover{
    transition: all;
    background-color: rgb(45, 44, 44) !important;
}
.column-new{
    display: flex;
    list-style: none;
    position: relative;
    top:10vh;
    left: 5vw;
    font:2rem;
    text-align: center;
    width: fit-content;
}
li>p{
    padding:0.5rem 1rem;
}

.row-1{
    font-size: 1.4rem;
}
.row-2{
    font-size: 1.6rem;
    font-weight: bold;
}
.details{
    font-size: 1.5rem;
    word-wrap: normal;
}
/*
      <ul className='column-new'>
          <li className='size'>
            <p className='row-1'>
            Size
            </p>
            <p className='row-2'>
            {products[currentIndex].size}
            </p>
          </li>
          <li className='Colors'>
            <p className='row-1'>
            Colors
            </p>
            <p className='row-2'>
            {products[currentIndex].colors}
            </p>
          </li>
          <li className='details'>
            <p className='detail-des'>{products[currentIndex].details}</p>
          </li>
        </ul>
*/