:root{
    --border-nav:1px grey solid;
    --main-background-color:rgb(26,25,25)
}
.brand-nav{
    display:flex;
    justify-content: center;
    padding-top:4vh !important;
    text-align: center;height: 7vh;
}

.searchBox{
    border: none;
    color:gray;
    border-top: var(--border-nav);
    border-bottom: var(--border-nav);
    width: 24%;
    height: 3rem;
    background-color: var(--main-background-color)
}
.searchIcon{
    border: var(--border-nav);
    border-left: none;
    padding:0.4rem;
    height: 2.2rem;
}
.nav-opt{
    padding:0.7rem;
}
.navItem{
    width:11%;
    color:rgb(184, 183, 183);
    margin: auto none;
    /* padding-top:12px; */
    height: 3rem;
    border-right: var(--border-nav);
    text-decoration: none;
    align-items: center;
    border-top: var(--border-nav);
    border-bottom: var(--border-nav);
}
.active{
    font-weight: bold;
    border-right:var(--border-nav);
    color:white ;
}
input{
    padding-left:30px !important;
    color:white !important;
}
.brand-image{
    object-fit: cover;
    height: 3rem;
    width: 6rem ;
    border: var(--border-nav);
}
.navItem:hover{
    color:white;
}